<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.melelee.springboot.bean.mybatis.HospitalMapper">
	<resultMap id="BaseResultMap" type="com.melelee.springboot.bean.mybatis.Hospital">
		<id column="ID" property="id" jdbcType="INTEGER"/>
		<result column="HOSPITAL_CODE" property="hospitalCode" jdbcType="VARCHAR"/>
		<result column="HOSPITAL_NAME" property="hospitalName" jdbcType="VARCHAR"/>
		<result column="HOSPITAL_CITY" property="hospitalCity" jdbcType="VARCHAR"/>
		<result column="LONGITUDE" property="longitude" jdbcType="VARCHAR"/>
		<result column="LATITUDE" property="latitude" jdbcType="VARCHAR"/>
		<result column="LOCATION_CODE" property="locationCode" jdbcType="CHAR"/>
		<result column="DISPLAY" property="display" jdbcType="BIT"/>
		<result column="WEIGHT" property="weight" jdbcType="TINYINT"/>
	</resultMap>
	<sql id="Base_Column_List">
		ID, HOSPITAL_CODE, HOSPITAL_NAME, HOSPITAL_CITY, LONGITUDE, LATITUDE, LOCATION_CODE,
		DISPLAY, WEIGHT
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List"/>
		from tb_hospital_dictionary
		where ID = #{id,jdbcType=INTEGER}
	</select>
	<select id="findAll" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List"/>
		from tb_hospital_dictionary
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		DELETE FROM tb_hospital_dictionary
		WHERE ID = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.melelee.springboot.bean.mybatis.Hospital">
		INSERT INTO tb_hospital_dictionary (ID, HOSPITAL_CODE, HOSPITAL_NAME,
											HOSPITAL_CITY, LONGITUDE, LATITUDE,
											LOCATION_CODE, DISPLAY, WEIGHT
		)
		VALUES (#{id,jdbcType=INTEGER}, #{hospitalCode,jdbcType=VARCHAR}, #{hospitalName,jdbcType=VARCHAR},
				#{hospitalCity,jdbcType=VARCHAR}, #{longitude,jdbcType=VARCHAR}, #{latitude,jdbcType=VARCHAR},
				#{locationCode,jdbcType=CHAR}, #{display,jdbcType=BIT}, #{weight,jdbcType=TINYINT}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.melelee.springboot.bean.mybatis.Hospital">
		insert into tb_hospital_dictionary
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="hospitalCode != null">
				HOSPITAL_CODE,
			</if>
			<if test="hospitalName != null">
				HOSPITAL_NAME,
			</if>
			<if test="hospitalCity != null">
				HOSPITAL_CITY,
			</if>
			<if test="longitude != null">
				LONGITUDE,
			</if>
			<if test="latitude != null">
				LATITUDE,
			</if>
			<if test="locationCode != null">
				LOCATION_CODE,
			</if>
			<if test="display != null">
				DISPLAY,
			</if>
			<if test="weight != null">
				WEIGHT,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="hospitalCode != null">
				#{hospitalCode,jdbcType=VARCHAR},
			</if>
			<if test="hospitalName != null">
				#{hospitalName,jdbcType=VARCHAR},
			</if>
			<if test="hospitalCity != null">
				#{hospitalCity,jdbcType=VARCHAR},
			</if>
			<if test="longitude != null">
				#{longitude,jdbcType=VARCHAR},
			</if>
			<if test="latitude != null">
				#{latitude,jdbcType=VARCHAR},
			</if>
			<if test="locationCode != null">
				#{locationCode,jdbcType=CHAR},
			</if>
			<if test="display != null">
				#{display,jdbcType=BIT},
			</if>
			<if test="weight != null">
				#{weight,jdbcType=TINYINT},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.melelee.springboot.bean.mybatis.Hospital">
		update tb_hospital_dictionary
		<set>
			<if test="hospitalCode != null">
				HOSPITAL_CODE = #{hospitalCode,jdbcType=VARCHAR},
			</if>
			<if test="hospitalName != null">
				HOSPITAL_NAME = #{hospitalName,jdbcType=VARCHAR},
			</if>
			<if test="hospitalCity != null">
				HOSPITAL_CITY = #{hospitalCity,jdbcType=VARCHAR},
			</if>
			<if test="longitude != null">
				LONGITUDE = #{longitude,jdbcType=VARCHAR},
			</if>
			<if test="latitude != null">
				LATITUDE = #{latitude,jdbcType=VARCHAR},
			</if>
			<if test="locationCode != null">
				LOCATION_CODE = #{locationCode,jdbcType=CHAR},
			</if>
			<if test="display != null">
				DISPLAY = #{display,jdbcType=BIT},
			</if>
			<if test="weight != null">
				WEIGHT = #{weight,jdbcType=TINYINT},
			</if>
		</set>
		where ID = #{id,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.melelee.springboot.bean.mybatis.Hospital">
		UPDATE tb_hospital_dictionary
		SET HOSPITAL_CODE = #{hospitalCode,jdbcType=VARCHAR},
			HOSPITAL_NAME = #{hospitalName,jdbcType=VARCHAR},
			HOSPITAL_CITY = #{hospitalCity,jdbcType=VARCHAR},
			LONGITUDE     = #{longitude,jdbcType=VARCHAR},
			LATITUDE      = #{latitude,jdbcType=VARCHAR},
			LOCATION_CODE = #{locationCode,jdbcType=CHAR},
			DISPLAY       = #{display,jdbcType=BIT},
			WEIGHT        = #{weight,jdbcType=TINYINT}
		WHERE ID = #{id,jdbcType=INTEGER}
	</update>
</mapper>